/* .App {
  text-align: center;
} */
*
{
  background-color: rgb(255, 231, 199);
}
.container
{
  /* max-width: 350px; */
  display: inline-flex;
  margin: 0 20px;
}
.cards
{
  margin:2px 0;
  padding: 2px;
display: inline-flex;
  margin-top: 5%;

}
.card_body
{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin:5px;
  padding:10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(252, 209, 156);
  box-shadow: 0px 0px 5px 5px rgb(184, 164, 109);
}
.card_id
{
  font-size: 20px;
  border-radius: 50px;
  width: 20px;
  border:solid 2px black;
  text-align: center;
  margin:3px 0;
  background-color: rgb(255, 231, 199);
}
.card_subtitle
{
  font-size: 25px;
  font-family: 'Segoe UI';
  width: 0;
}
.card_title
{
  margin-top: -2px;
  background-color: rgb(252, 209, 156);
  font-size: 32px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:black;
}
img{
  width: 300px;
  height: 250px;
}
.card_price 
{
   font-size: 25px;
  margin-top: -20px;
  background-color: rgb(252, 209, 156);
}
b{
  background-color: rgb(252, 209, 156);

}
.card_desc 
{
  background-color: rgb(252, 209, 156);
}
.cardTag
{
  margin: 5px 0;
  font-size: 20px;
  border:2px solid rgb(78, 78, 78);
  width: 50px;
  padding: 0 10px;
  background-color: rgb(252, 209, 156);
  
}
.navBar
{
  text-align: center;
}
.buttons
{
  text-align: center;
  margin: 10px 0;
  border-radius: 20px;

}
.btn_group
{

  font-size: 30px;
  font-family:monospace;
  border :none;
  margin:0 20px;
  border-bottom: 3px solid orangered;
}
.btn_group:hover
{

  font-size: 30px;
  font-family:monospace;
  border :none;
  margin:0 20px;
  border-bottom: 3px solid rgb(223, 126, 90);
  cursor: pointer;
}